extends layout

block content
  .row.page-header
    .col-lg-12
      h1 Summary for Penny
  .row.list-group
    .col-xs-12.col-sm-10
        .list-group-item
          .row
            .col-xs-12.col-sm-6
              p.list-group-item-heading Volunteer: 
              h4 Sheldon Cooper
            .col-xs-12.col-sm-6
              p.list-group-item-heading Position:
              h4 Serve @ 12:00pm - 1:30pm
          .row
            ul.nav.nav-pills.nav-justified
              li.col-xs-12.col-sm-4(role='presentation')
                a(href='/') Edit Personal Info
              li.col-xs-12.col-sm-4(role='presentation')
                a(href='/') Edit Position
              li.col-xs-12.col-sm-4(role='presentation')
                a(href='/') Delete Person 
        .list-group-item
          .row
            .col-xs-12.col-sm-6
              p.list-group-item-heading Volunteer: 
              h4 Sheldon Cooper
            .col-xs-12.col-sm-6
              p.list-group-item-heading Position:
              h4 Serve @ 12:00pm - 1:30pm
          .row
            ul.nav.nav-pills.nav-justified
              li.col-xs-12.col-sm-4(role='presentation')
                a(href='/') Edit Personal Info
              li.col-xs-12.col-sm-4(role='presentation')
                a(href='/') Edit Position
              li.col-xs-12.col-sm-4(role='presentation')
                a(href='/') Delete Person 
        .list-group-item
          .row
            .col-xs-12.col-sm-6
              p.list-group-item-heading Volunteer: 
              h4 Sheldon Cooper
            .col-xs-12.col-sm-6
              p.list-group-item-heading Position:
              h4 Serve @ 12:00pm - 1:30pm
          .row
            ul.nav.nav-pills.nav-justified
              li.col-xs-12.col-sm-4(role='presentation')
                a(href='/') Edit Personal Info
              li.col-xs-12.col-sm-4(role='presentation')
                a(href='/') Edit Position
              li.col-xs-12.col-sm-4(role='presentation')
                a(href='/') Delete Person 
        .list-group-item
          .row
            .col-xs-12.col-sm-6
              p.list-group-item-heading Volunteer: 
              h4 Sheldon Cooper
            .col-xs-12.col-sm-6
              p.list-group-item-heading Position:
              h4 Serve @ 12:00pm - 1:30pm
          .row
            ul.nav.nav-pills.nav-justified
              li.col-xs-12.col-sm-4(role='presentation')
                a(href='/') Edit Personal Info
              li.col-xs-12.col-sm-4(role='presentation')
                a(href='/') Edit Position
              li.col-xs-12.col-sm-4(role='presentation')
                a(href='/') Delete Person
  .row
    .col-xs-12
      span.glyphicon.glyphicon-plus
      a.lead(href='/newuser') Add New User        
        