extends layout

block content
  .row.page-header
    .col-lg-12
      h1 Summery for Penny
  .row
    .col-xs-12.col-sm-6
      ul.list-unstyled
        li 
          a(href='/newuser') Sheldon Cooper
        li 
          a(href='/newuser') Leonard Hofstadter
        li
          a(href='/newuser') Howard Wolowitz
        li
          a(href='/newuser') Raj Koothrappali
  .row
    .col-xs-12
      span.glyphicon.glyphicon-plus
      a.lead(href='/newuser') Add New User        
        