extends layout

block content
  .row.page-header
    .col-lg-12
      h1 Available Positions
  .row
    .col-xs-12
      .panel.panel-primary
        .panel-heading
          .h2.panel-title Server
        .panel-body
          form(action='/', method='post', role='form')
            input(type='hidden', name='position_id', value='123456')
            .col-xs-12.col-sm-4        
              span.lead Available Times:
              .row
                .radio
                  label
                    input(type="radio", name="optradio" value="0")
                    | 10:30am - 12:00pm
                .radio
                  label
                    input(type="radio", name="optradio" value="0")
                    | 12:00pm - 1:30pm
                .radio
                  label
                    input(type="radio", name="optradio" value="0")
                    | 1:30pm - 3:00pm
            .col-xs-12.col-sm-6
              span.lead Description:
              p.
                Deal with people and walk a ton. Involves
                lots of time working on your feet helping people get the
                food they came for
          button.btn.btn-default.btn-block Add Registrant
      .panel.panel-primary
        .panel-heading
          .h2.panel-title Host/Hostess
        .panel-body
          form(action='/', method='post', role='form')
            input(type='hidden', name='position_id', value='123456')
            .col-xs-12.col-sm-4        
              span.lead Available Times:
              .row
                .radio
                  label
                    input(type="radio", name="optradio" value="0")
                    | 10:30am - 12:00pm
                .radio
                  label
                    input(type="radio", name="optradio" value="0")
                    | 12:00pm - 1:30pm
                .radio
                  label
                    input(type="radio", name="optradio" value="0")
                    | 1:30pm - 3:00pm
            .col-xs-12.col-sm-6
              span.lead Description:
              p.
                Deal with people and walk a ton. Involves
                lots of time working on your feet helping people get the
                food they came for
          button.btn.btn-default.btn-block Add Registrant
      .panel.panel-primary
        .panel-heading
          .h2.panel-title Beverage
        .panel-body
          form(action='/', method='post', role='form')
            input(type='hidden', name='position_id', value='123456')
            .col-xs-12.col-sm-4        
              span.lead Available Times:
              .row
                .radio
                  label
                    input(type="radio", name="optradio" value="0")
                    | 10:30am - 12:00pm
                .radio
                  label
                    input(type="radio", name="optradio" value="0")
                    | 12:00pm - 1:30pm
                .radio
                  label
                    input(type="radio", name="optradio" value="0")
                    | 1:30pm - 3:00pm
            .col-xs-12.col-sm-6
              span.lead Description:
              p.
                Deal with people and walk a ton. Involves
                lots of time working on your feet helping people get the
                food they came for
          button.btn.btn-default.btn-block Add Registrant
      .panel.panel-primary
        .panel-heading
          .h2.panel-title Pies
        .panel-body
          form(action='/', method='post', role='form')
            input(type='hidden', name='position_id', value='123456')
            .col-xs-12.col-sm-4        
              span.lead Available Times:
              .row
                .radio
                  label
                    input(type="radio", name="optradio" value="0")
                    | 10:30am - 12:00pm
                .radio
                  label
                    input(type="radio", name="optradio" value="0")
                    | 12:00pm - 1:30pm
                .radio
                  label
                    input(type="radio", name="optradio" value="0")
                    | 1:30pm - 3:00pm
            .col-xs-12.col-sm-6
              span.lead Description:
              p.
                Deal with people and walk a ton. Involves
                lots of time working on your feet helping people get the
                food they came for
          button.btn.btn-default.btn-block Add Registrant
       .panel.panel-primary
        .panel-heading
          .h2.panel-title Cleanup
        .panel-body
          form(action='/', method='post', role='form')
            input(type='hidden', name='position_id', value='123456')
            .col-xs-12.col-sm-4        
              span.lead Available Times:
              .row
                .radio
                  label
                    input(type="radio", name="optradio" value="0")
                    | 10:30am - 12:00pm
                .radio
                  label
                    input(type="radio", name="optradio" value="0")
                    | 12:00pm - 1:30pm
                .radio
                  label
                    input(type="radio", name="optradio" value="0")
                    | 1:30pm - 3:00pm
            .col-xs-12.col-sm-6
              span.lead Description:
              p.
                Deal with people and walk a ton. Involves
                lots of time working on your feet helping people get the
                food they came for
          button.btn.btn-default.btn-block Add Registrant