extends layout

block content
  .row.page-header
    .col-lg-12
      h1 Sign In
  .row
    .col-xs-12.col-md-6.col-md-offset-3
      form.form-horizontal(action='/signInRouter', method="post", role="form")
        form-group
          .row
            label.control-label(for="email") Email
            input#email.form-control(name="email")
          .row
            label.control-label(for="pw") Password
            input#pw.form-control(name="pw")
        form-group
          .row
            button.btn.btn-default.btn-block.voffset3(type='submit', name='action', value='signin') Sign In
          hr
          p.col-xs-12.text-center Need an account?
          .row
            button.btn.btn-default.btn-block.voffset3(type='submit', name='action', value='createaccount') Create Account
